// Imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap');

// Fonts
$background: #fff;
$color: #3e3e3e;

// Large Screen
:root{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: $background;
    color: $color;
}

.main-margin{
    margin: 0 25%;
}

nav{
    background: $color;
    .nav-container{
    display: flex;
    height: 48px;
    .left{
        flex: 1
    }
    .right{
        flex: 2;
    }
   }
}

.hero{
    .heading{
        margin: 84px 0 0 0;
        font-size: 3.8rem;
        font-weight: 100;
    }
    
    .name{
        font-weight: 700;
        .hover-effect{
            &:hover{
                color: transparent;
                -webkit-text-stroke: 2px $color;
                cursor: default;
            }
        }
    }
    .sub-heading{
        font-size: 1.4rem;
        font-weight: 600;
    }
}

// Tablets
@media screen and (max-width: 1024px){
    :root{
        font-size: 12px;
    }
    .main-margin{
        margin: 0 10%;
    }
    nav{
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: 0;
        .nav-container{
            .right{
                flex: 1;
            }
        }
    }
}

// Mobile
@media screen and (max-width: 576px){
    .main-margin{
        margin: 0 15px;
    }

    .heading{
        font-size: 2.4rem;
    }
}